.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    width: 30%;
    height: 30px;
    border: 1px solid red ;
    margin-bottom: 20px;
    transition: width 1s ease;   
}
li:hover + li {
    width: 70%;
}