div {
    border: 1px solid rgb(235, 88, 88);
    padding: 10px;
    margin-bottom: 20px;
}
.d2 {
    position: relative;
    width: 320px;
    height: 30px;
    line-height: 30px;
    margin: 0 0 0 -420px;
    background: rgb(235, 88, 88);
    color: white; 
    text-align: center;
    transition: margin 1s ease;
}

.d1:hover + .d2{
     margin-left: 30%;
}