.box {
    width: 30%;
    height: 50px;
    border:  1px solid red;
    background: white;
    color: red;
    font-size: 15px;
    transition: width 1s ease,
                font-size 1s ease;
    
}
.box:hover {    
    width: 100%;
    font-size: 25px;
}