* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 700px;
    margin: 10px auto;
    
}
section {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;
}
h2 {
    color: blue;
    margin-bottom: 10px;
}
p {
    text-align: justify;
    margin-bottom: 10px;
}
a {
    display: block;
    float: right;
    margin-bottom: 10px;
    
}
section::after {
    content: " ";
    display: table;
    clear: both;
}