.wrapper {
    width: 1080px;
    margin: 0px auto;
    outline: 1px solid black;
    padding: 40px;
}
header {
    margin-bottom: 40px;
    
}
header > div, footer > div {
    outline: 1px solid black;    
    height: 200px;
}
main > div {
    outline: 1px solid black;    
    height: 500px;
}
.left {
    float: left;
    width: 200px;
}
.right {
    float: right;
    width: 200px;
    
}
.center {
    width: 600px;
    margin: 0px 240px;
  
}
footer {
    margin-top: 40px;
}