.wrapper {
    width: 900px;
    margin: 0px auto;
    outline: 1px solid black;    
}
header, main, footer{
    outline: 1px solid black;
    height: 200px;
}
aside {
    float: left;
    width: 200px;
    height: 400px;
    outline: 1px solid black;
}
main {
    float: left;
    height: 400px;
    width: 700px;
}
.clearfix {
    clear: both;
}