.wrapper {
    width: 900px;
    margin: 0 auto;
    height: 400px;
    /* border: 1px solid black;     */
}
header, main, footer {
    border: 1px solid black;
    height: 200px;
}
main {
    height: 400px;
}
