div {
    position: absolute;
    width: 50px;
    height: 50px;
}
.red {
    top: 30px;
    left: 30px;
    border: 1px solid red;
}
.blue {
    top: 100px;
    left: 100px;
    border: 1px solid blue;
}
.green {
    top: 170px;
    left: 170px;
    border: 1px solid green;
}
