@media screen and (min-width: 800px) {
    .block {
        color: blue;
    }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
    .block {
        color: green;
    }
}

@media screen and (max-width: 480px) {
    .block {
        color: red;
    }
}