.wrapper {
    width: 80%;
    margin: 0 auto;
}
.block {
    box-sizing: border-box;
    background: green;
    height: 300px;
    color: #ffffff;
    padding: 10px; 
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .block {        
        float: left;
        width: 24%;
    }
    .block:not(:last-child) {
        margin-right: 1.333333%;
    }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
     .block {
         float: left;
         width: 49%;
     }   
     .block:not(:nth-child(2n)) {
         margin-right: 2%;
     }
}