ul {
    font-size: 14px;
    list-style-type: none;    
}
li {
    display: inline-block;
    border: 1px solid blue;
    padding: 0px 10px;
}
li a:link, li a:visited {
    display: block;
    text-decoration: none;
    line-height: 35px;
}
li:hover, li.active {
    transform: rotate(15deg) scale(1.1);
}