.box {
    width: 200px;
    height: 200px;
    border:  1px solid red;
    animation: anim 4s ease 30;
}
@keyframes anim {
    from {
        background: #ffffff;
    }
    to {
        background: red;
    }
}