.box {
    width: 40px;
    height: 40px;
    border:  1px solid red;
    animation: anim 10s ease infinite;
}
@keyframes anim {
    0% {
        margin-left: 0;
        margin-top: 0;
    }
    25% {
        margin-left: 500px;
        margin-top: 0;
    }
    50% {
        margin-left: 500px;
        margin-top: 300px;
    }
    75% {
        margin-left: 0;
        margin-top: 300px;
    }
}