div {
    width: 400px;
    margin-bottom: 20px;
    white-space: pre;
    border: 1px solid black;
}

#p1 {
    -o-tab-size: 8;
    tab-size: 8;
}
#p2 {
    -o-tab-size: 0;
    tab-size: 0;
}
#p3 {
    -o-tab-size: 16;
    tab-size: 16;
}
