* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 825px;
    height: 565px;
    background: url(../img/1.jpg) no-repeat;
    background-position: bottom right;
    font-size: 0;
}
.main div {
    float: left;
    width: 230px;
    height: 230px;
    border: 30px solid #fff;
    font-size: 16px;
    color: #fff;
    margin: 30px 20px 0px 30px;
    padding: 10px;
    
}
.main .d1 {
    border: 30px solid rgba(255,255,255, 0.6);
}
.main .d2 {
    margin-left: 20px;
    opacity: .5;
}