@font-face {
    font-family: Lombardina;
    src: url(../fonts/3684.ttf);
}

body {    
    font-family: Lombardina;
    font-size: 36px;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
p {
    text-align: justify;
}
