.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
p {
    text-align: justify;
    column-count: 2;
    column-width: auto;
    column-gap: 100px;
    column-rule: 1px solid black;
}
