p {
    margin-bottom: 30px;
}
.p1 {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: red;    
}
.p2 {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: red;
}
.p3 {
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-decoration-color: red;
}
.p4 {
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-color: red;
}