p {
    width: 70%;
    border: 1px solid black;
    margin: 30px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
p:hover {
    white-space: normal;
    overflow: hidden;
}
