div {
    width: 200px;
    height: 200px;
    margin: 10px auto 100px;
    border: 1px solid black;
}
.d1 {
    box-shadow: 20px 30px #959595;
}
.d2 {
    box-shadow: 20px 30px 10px #959595;
}
.d3 {
    box-shadow: 20px 30px 10px #959595,
                -20px -30px 10px #959595;
}
.d4 {
    box-shadow: inset 5px 5px 10px #959595;
}
.d5 {
    box-shadow: inset 5px 5px 10px blue,
                inset -5px -5px 10px red; 
}
.d6 {
    box-shadow: 0 0 0 2px black;
}