div {
   
    border: 1px solid red;
    margin-bottom: 20px;
    text-align: justify;
}
.hidden {
     width: 110px;
     height: 110px;
    overflow: hidden;
}
.scroll {
     width: 110px;
     height: 110px;
    overflow: auto;
}
.big {
    width: 310px;
    height: 225px;
    overflow: scroll;
    text-align: justify;
}
.flat {
    width: 310px;
    line-height: 2em;
    white-space: nowrap;
}
.hr-scroll {
    width: 310px;
    line-height: 2em;
    white-space: pre;
    overflow-x: scroll;
}