div {
    width: 200px;
    height: 200px;
    margin: 10px auto 30px;
    border: 1px solid black;
}
.d1 {
    cursor: pointer;
}
.d2 {
    cursor: progress;
}
.d3 {
    cursor: wait;
}
.d4 {
    cursor: move;
}
.d5 {
    cursor: not-allowed;
}
.d6 {
    cursor: url(../img/arrow.cur), auto;
}