.wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: justify
}
div {
    counter-reset: test;
}
div p::before {
    counter-increment: test;
    content: "Абзац № " counter(test) ". ";
}
div p.reset {
    counter-reset: test 17;
    font-weight: bold;
}