.menu {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 5px;
}

a {
    display: block;
    text-decoration: none;
    border: 1px solid #000;
    /* background-color: aqua; */
    /* line-height: 30px; */
    padding: 5px;
}