ol {
    list-style-position: inside;
    width: 210px;
}
li {
    border: 1px solid blue;
    padding: 3px;
    margin-bottom: 5px;
}
li:hover {
    background: green;
    border: 1px solid green;
    color: white;
}
li:hover ~ li {
    background: red;
    border: 1px solid red;
    color: white;
}