.wrapper {
    width: 1000px;
    margin: 0px auto;
    outline: 1px solid black;    
}
header, main, footer{
    outline: 1px solid black;
    height: 200px;
}
header {
    margin-bottom: 20px;
}
aside {    
    width: 200px;
    height: 400px;    
}

.left {
    float: left;
    margin: 0 20px;
}
.left > div {
    outline: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
}
.right {
    float: right;
    height: 700px;
    margin: 0 20px;
    outline: 1px solid black;
}
main {
    height: 700px;
    margin: 0 240px;
}
.clearfix {
    clear: both;
}
footer {
    margin-top: 20px;
}