* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EBEBEB; 
}
.header-wrapper .wrapper {
    width: 1100px;
    margin: 0 auto;
}
.header-wrapper, .footer {
    background-color: #242424;
}
ul {
    font-size: 0;    
    margin: 0;
}
ul li {
    display: inline-block;
    line-height: 50px; 
}   
ul a {
    display: block;
    padding: 0px 20px;
    font-size: 19px;
}
ul li a:link, ul li a:visited  {   
    color: #fff;
    text-decoration: none;
}
ul li a:hover, ul li a.active {     
    background-color: #585858;   
}


/* sidebar */
.wrapper-content {
    background-color: #fff;
    width: 1100px;
    margin: 30px auto; 
    box-sizing: border-box;
    padding: 20px 20px 0px 20px;
    
}
.right {
    float: right;
    width: 210px;
    min-height: 400px;
    padding-left: 20px;
}
.right div {
    margin-top: 10px;
}
.left {
    float: left;
    width: 210px;
    min-height: 400px;
}

aside h2 {
    font-size: 17px;
    margin-bottom: 10px;
}
aside p {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 10px;
}
aside img {
    width: 210px;
    margin: 10px 0px;
}


/* main content */

main {
    margin-left: 230px;
    margin-right: 230px;
}
main h1 {
    font-size: 21px;
    margin-bottom: 10px;
}
main h2 {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 10px;
}
main p {
    font-size: 16px;
    text-align: justify;    
    margin-bottom: 10px;
}
main img {
    width: 600px;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}
 /* footer */ 

 .footer-wrapper {
     width: 1100px;
     margin: 0 auto;
     padding-top: 30px;
 }
.footer-menu {
    font-size: 13px;
    text-align: center;  
     
}
 .item {   
     float: left;  
     width: 24%; 
     margin-right: 1.3333%;        
     background-color: #EBEBEB;
     min-height: 200px; 
 } 
 #last {
     float: right;
     margin-right: 0;
 }
 .item div {
     padding: 10px;
 }

 .item div p {
     margin-bottom: 3px;
 }
 .item div hr {
     margin: 6.5px 0;
 }
.copyright {
    color: #fff;
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 5px;
}
