* {
    margin: 0;
    padding: 0;
    
}
body {
    background-color: #EBEBEB;
}
.wrapper {
    width: 890px;
    margin: 30px auto;    
    background-color: #fff;
}
header {
    background-color: #F8AA03;
}
header menu {
    margin: 0;
    padding: 0;
    background-color: #F8AA03;
}
ul {  
    list-style: none;
    padding-left: 20px;
    margin: 0;
}
ul li {
    display: inline-block;
    line-height: 50px;
    font-size: 19px;
    margin-right: 30px; 
}

li a:visited, li a:link {
    color: #fff;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
.active {
    text-decoration: underline;
}

/* right sidebar*/
aside {
    float: right;
    width: 250px;   
}
aside section {
    padding-right: 20px;
}

section h2 {
    font-size: 17px;
    margin: 20px 0px 10px;
}
section p {    
    font-size: 13px;
    text-align: justify;
    margin-bottom: 10px;
}

/* content */

main {
    width: 600px;
    min-height: 600px;
    margin-right: 250px;
    padding: 20px;
}
main h1 {
    font-size: 21px;
    
}
main h2 {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 10px;
}
main p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px; 
  
}
main img {
    width: 600px;
}
.cost {
    width: 100%;      
    border-collapse: separate;   
    border-spacing: 2px;
    box-sizing: border-box;
          
}
.cost th {
    background-color: #EBEBEB;
    border: 1px solid black;
    text-align: center;
    padding: 1px 0px;
}
.cost td {
    border: 1px solid black;   
    text-align: center;
    padding: 1px 0px;
    font-size: 16px;
}
/* footer */
footer {
    color: #fff;
    font-size: 13px;
    line-height: 75px;
    text-align: center;
    background-color:  #F8AA03;
}
