* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 700px;
    margin: 10px auto;    
    background-color: #2696E8;
    border: 1px solid blue;
}
.menu ul {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.menu li {
    list-style-type: none; 
    text-align: center;
    border: 1px solid blue;
}
.menu li a {
    display: block;   
    color: #fff;
    text-decoration: none;
    padding: 10px;    
}
.menu li:hover {
    background-color: #fff;
    
}
.menu li:hover a{    
    color: #2696E8;
}
